<div class="myBody">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-6 col-xs-offset-3 well">
        <h3>My To-do List</h3>
        <div class="form-group">
          <form (submit)="addTodo(todo.value)">
            <input placeholder="create your first todo.." type="text" name="todoInput" [(ngModel)]="todoInput" class="form-control" #todo>
          </form>
        </div>
      </div>
    </div>
  </div>





  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 well">
          <div *ngFor="let todo of todoList, let i = index">
            <ul>
              <li>
                <span>{{todo}}</span>
                <button (click)="deleteTodo(i)" class="btn btn-default btn-sm">delete</button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
