<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3 well">
      <h3> Enter your todos here</h3>
      <div class="form-group">
        <form>
          <input type="text" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>





<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 well">
      <div class="col-xs-4">
        <h4>My Todo List:</h4>
      </div>
      <div class="col-xs-8">
        <ul>
          <li>list goes here</li>
        </ul>
      </div>
    </div>
  </div>
</div>
